<h1 class="pageHeader">all flavors page!</h1>
<div class="cardContainer">
    {{#each flavors}}
    <a class="card" href="/flavors/{{id}}">

        <h3>{{flavor}}</h3>
        <img src="{{image}}" alt="{{flavor}}">

    </a>
    {{/each}}

</div>