<h1 class="pageHeader">all flavors page!</h1>
<div class="cardContainer">
{{#each flavors}}
    <div class="card">
        <h3>{{flavor}}</h3>
        <img src="{{image}}" alt="{{flavor}}">
    </div>
{{/each}}

</div>